html {
	font-family: sans-serif;
	}

div.centerer {
	margin-left: auto;
	margin-right: auto;
	width: 53em;
	}

table.columns td {
	vertical-align: top;
	padding-top: 0;
	}

#cur-word {
	font-size: 150%;
	border-color: #DDD;
	border-style: solid;
	border-width: 2px;
	}

#cur-word[error] {
	background-color: #F88;
	}

.letter-circle {
	fill: none;
	stroke: black;
	stroke-width: 12;
	}

.wheel-letter {
	font-size: 100px;
	text-anchor: middle;
	dominant-baseline: central;
	}

h3 {
	margin-top: 0;
	}

span.just-found {
	font-weight: bold;
	}

span.already-found {
	font-weight: bold;
	color: red;
	}

div.status {
	margin-bottom: 1em;
	margin-top: 0.5em;
	}

